body {
    font-family: "Comic Sans MS", sans-serif;
    background-color: paleturquoise;


}

h1 {
    display: flex;
    justify-content: center;
    color: grey;
    margin-top: 50px;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 30px;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    margin-left: 515px;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: antiquewhite;
    background-color: lightcoral;
}

button {
    height: 35px;
    width: 35px;
    border-radius: 20px;
    border-style: none;
    background-color: darkturquoise;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bolder;
    font-size: 20px;
    color: antiquewhite;

}

.reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 50px;
}

.reset {
    width: 100px;
    height: 50px;
    border-style: none;
    border-radius: 50px;
    background-color: darkturquoise;
    color: antiquewhite;
    font-size: 20px;
    font-weight: bold;
}

.fruit-logo {
    width: 300px;
    margin-top: 20px;
    margin-right: 20px;
}

.fruit-logo-container {
    display: flex;
    justify-content: flex-end;
}

.form {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
