
h1 {
    display: flex;
    justify-content: center;
}

.container-bananas, .container-strawberries, .container-apples, .container-kiwis {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-width: 200px;
    font-size: 30px;

}

.control-button, .reset-button {
    height: 20px;
}